<div id="map" style="width: {{width}}; height: {{height}}; position:relative">
    <div id="start" style="display:none;position:absolute;left:0px;bottom:0px;z-index:1000">
        <div style="margin-left:5px; margin-bottom: 5px">
            <form>
                <button type="button" class="btn btn-default btn-small" id="zoom">
                    Zoom til ramme
                </button>
                <button type="button" class="btn btn-default btn-small" id="look">
                    Se ramme
                </button>
            </form>
        </div>
    </div>
</div>
<div id="grid" style="margin-top:7px;width: {{width}}; height: 1px"></div>