.leaflet-control-layers {
    display: none !important;
}
.control-group {
    margin-top: 10px;
}
label {
    margin-bottom: 1px !important;
}
body {
    margin: 0;
    padding: 0;
}
#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}