<div id="map" style="width: 100%;height: 245px;position:relative">
    <div id="start" style="display:none;position:absolute;left:0px;bottom:0px;z-index:1000">
        <div style="margin-left:15px">
            <form>
                <input class="btn btn-small" type="button" id="zoom" value="Zoom til ramme">
                <input class="btn btn-small" type="button" id="look" value="Vis ramme">
            </form>
        </div>
    </div>
</div>
<div id="grid" style="margin-top:7px;width: 100%;height: 1px"></div>